# ======= APPLICATION CONFIGURATION =======
application:
  version: APPLICATION_VERSION
  url: ${SPRING_APPLICATION_URL:http://localhost:5173}

# ======= EMAIL CONFIGURATION =======
email:
  host: ${EMAIL_HOST:localhost}
  port: ${EMAIL_PORT:2500}
  address: ${EMAIL_ADDRESS:no-reply@localhost}
  username: ${EMAIL_USERNAME:no-login@localhost.com}
  password: ${EMAIL_PASSWORD:password}
  protocol: smtp
  encoding: UTF-8

# ======= SECURITY CONFIGURATION =======
security:
  jwt:
    lifetime: ${JWT_LIFETIME_SECONDS:900}
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:*}

# ======= MANAGEMENT ENDPOINTS =======
management:
  endpoints:
    web:
      exposure.include: health,info,metrics,jolokia

# ====== SERVER CONFIG ======
# tomcat HTTP & ajp listen ports
server:
  port: 8080
  servlet:
    context-path: /

# ======= SPRINGDOC CONFIGURATION <https://springdoc.org/> =======
springdoc:
  show-actuator: true
  pre-loading-enabled: true
  show-login-endpoint: true
  enable-spring-security: true
  swagger-ui:
    disable-swagger-default-url: true
    path: /api/public/docs/openapi.html
  api-docs:
    path: /api/public/docs

# ======= SPRING CONFIGURATION =======
spring:
  profiles.include: ${SPRING_PROFILES_INCLUDE:development}
  main:
    banner-mode: off
    allow-bean-definition-overriding: true
    allow-circular-references: true

  threads:
    virtual.enabled: true

  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      connectionTimeout: 5000
      idleTimeout: 30000
      minimumIdle: 10
      maximumPoolSize: 20
      poolName: eventify
      registerMbeans: true
    url: ${DATASOURCE_TOP_URL:jdbc:postgresql://localhost:5432/tst_eventify}
    username: ${DATASOURCE_TOP_USERNAME:tst_eventify}
    password: ${DATASOURCE_TOP_PASSWORD:tst_eventify}
    driverClassName: org.postgresql.Driver

  jpa:
    open-in-view: false
    properties:
      hibernate:
#        enable_lazy_load_no_trans: true
        id.optimizer.pooled.preferred: pooled-lo
        physical_naming_strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit_naming_strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
        order_inserts: true
        order_updates: true
        jdbc:
          batch_size: 1000

  jackson:
    property-naming-strategy: LOWER_CAMEL_CASE

# ======= HAWAII AUTOCONFIGURATION OVERRIDE =======
hawaii:
  crypto:
    enabled: false
  logging:
    filters:
      transaction-id:
        enabled: true
      request-id:
        enabled: true
      open-telemetry-tracing-response:
        enabled: false
